* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px; 
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

header > input {
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}

/* ================================ */
/* Add your CSS below this line */
/* ================================ */

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 1;
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding-bottom: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

figcaption{
  font-weight: bold;
}

figcaption,
p {
  padding-bottom: 5px;
}
